section{min-height: 800px;}
body{height: 100%;}
html{scroll-behavior: smooth;height:100%;}
header{
    position: fixed;width:100%;z-index: 1;
    background:rgba(0, 0, 0, 0.1);font-weight: 500;
    transition-duration: 0.3s;
    display:flex;justify-content: space-around;
}
.header-ul{display:flex; list-style-type: none;}
.header-li{}
.pad{padding: 1rem 0rem 1rem;}
.sectionPadding{padding: 0rem 9rem 0rem;}
.li-a{text-decoration: none; padding: 0rem 1rem 0rem; transition-duration: 0.2s; font-weight: 700;}
.first-img{
    background-image:url('img/키보드화면.jpg');height: 100vh;opacity: 0.85; background-repeat: round;
    background-attachment: fixed;display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    }
#first-section{}
.name{font-size: 20px;}
*{margin: 0; padding: 0;font-family:'Open Sans', sans-serif;}
.img-text{font-size: 30px;text-align: center;}
.font-color-white{color:white;}
#codeicon{
    position: absolute;
    left: 58%;
    top: 49%;
    animation-name:downmotion;
    animation-duration:1s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.headerRgb{background:rgba(0,0,0,1);}

@-webkit-keyframes downmotion{
0% {
top:50%
}
50%{
top:48%
}
100% {
top:50%
}
}
#me{
width: 150px;
border-radius: 100%;
height: 150px;
border: 2px solid deepskyblue;
}
.margin-bottom{margin-bottom:3rem;}
#arrow:hover{
    color:gray;
}
.nav-up { top: -40px;}
#arrow{transition-duration: 0.3s;}
.li-a:hover{border-bottom: 2px solid;
padding-bottom: 0.2rem;color:lightskyblue;}
.liBlue{border-bottom: 2px solid;
padding-bottom: 0.2rem;color:lightskyblue;}
.homeArrow{
position: fixed;
left: 93%;
top: 102%;
transition-duration: 0.3s;
color:black;
}
.d-flex{display:flex;justify-content: center;}
.img-flex{display:flex;justify-content: center;}
.wid-100{width: 100%;}
.i-text{border-bottom: 5px solid aquamarine;padding-bottom: 0.2rem;font-size: 27px;}
.d-height{height:30%;}
.down-padding{padding: 8rem 0rem 0rem;}
.dis-no{display:none;}
.dis-block{display: block;}
#ham{cursor: pointer;display: none;}
#footerDiv{height:950px;position: relative;}
@media screen and (max-width: 730px){
    #ham{display:flex;justify-content: space-around;}
    #h-ul{display:none;}
    .img-wid{width:120px !important;}
    .margin-r{margin-right:2rem !important;}
    .homeArrow{left:81%;}
}
@media screen and(max-width: 500px){
    .img-wid{width:85px !important;}
    #mymail{font-size: 25px;}
}
@media screen and (max-width: 1200px){
    .sectionPadding{padding: 0rem 2rem 0rem;}
    .wid-30{width:20%;}
}
@media screen and (max-width:900px){
    #footerDiv{margin-top: 250px !important;}
    .d-flex{display:inline-block;}
    .d-section{width:100%;}
    #divP{width:100%;}
    .wid-30{width:100% !important;text-align: center;}
    #d1{height:100px;}
    .d-height{height:auto};
}
@media screen and (min-width: 730px){
    #h-ul{display:flex !important;}
}
@media screen and (max-height: 700px){
    #p-section{margin-top: 150px;}
}
#skills{height:48%;}
.img-wid{width:160px;}
.flex-center{display: flex;
justify-content: center;
flex-direction: column;}
.margin-r{margin-right: 5rem;}
.radius{border-radius: 100%;}
.skills-text{text-align: center;}
.s-text{margin-top: 2.3rem; font-family: sans-serif;}
#h-ul li{margin-bottom: 0.2rem; text-align: center;}
.c-font{font-family: 'Spoqa Han Sans', sans-serif;font-weight: 200;}
.font-w{font-weight: 600;}
p{margin-bottom:2rem;}
.space{height:15%;}
.h-section{height: 100vh;}
.wid-30{width:25%;}
#s-img{justify-content: center;}
.r-div{margin-top:2rem; position: relative;}
.p-img{width:350px;height:240px;margin-right: 2rem; border-radius: 20px; border: 2px solid black;background-repeat: round;margin-bottom: 1rem;}
#p-img1{background-image: url("../img/메인.png");}
#p-img2{background-image: url("../img/앤샐러드.png");}
.p-div{position: relative;}
.tag{color: #333135;
margin: 5px;
padding: 10px;
border: 2px solid black;
border-radius: 50%;
cursor: pointer;
transition: all 0.2s;
width:36px;}
.img-icon{transition: all 0.2s; background-color: rgba(0, 0, 0, 0) !important;margin-right: 1rem;}
.img-opacity-none{opacity: 0 !important;}
.img-opacity{opacity: 1 !important;}
/* .p-div:hover{opacity: 0.5;} */
.b-white{background: white !important;}
.img-icon a i:hover{background:aquamarine;}
.contact-a:hover{background: aquamarine;}
.p-title{font-size: 36px;}
#contact{width: 100%;text-align: center;font-size: 36px;height:55%;}
  .contact-a{border-radius: 100%;
display: inline-flex;
width: 3.25rem;
height: 3.25rem;
font-size: 1.25rem;
justify-content: center;
align-items: center;
border: 3px solid black;
color:black;
text-decoration: none;
}
#f-text{color:white;font-size:16px;font-weight: 700;padding: 2rem 0rem 0rem;}